PG_USER=aprende
PG_PASSWORD=
PG_DB=aprende_rag
PG_HOST=localhost
PG_PORT=5432

CHROMA_PATH=./data/chroma

OLLAMA_URL=http://localhost:11434

EMBEDDING_MODEL=paraphrase-multilingual-mpnet-base-v2
LLM_MODEL=llama3.2:3b
